WebApi.UserModule/bin
WebApi.UserModule/obj

WebApiUserModuleWeb/bin
WebApiUserModuleWeb/obj

WebApi.UserModule.suo
WebApi.UserModule.v11.suo
WebApi.UserModule.v12.suo

packages
packages_old

To_be_deleted/